@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 24px 24px;
  background-image: linear-gradient(to right, #f7f7f7 1px, transparent 1px), linear-gradient(to bottom, #f7f7f7 1px, transparent 1px);
}